@import "theme.css";

@media screen and (min-width: 850px) {
  #home-container {
    margin: 0 var(--right-width) 0 var(--sidebar-width);
  }
}

@media screen and (max-width: 850px) {
  #right-pane {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  #home-container {
    margin-left: 0;
  }
}

#right-pane {
  float: right;
  width: var(--right-width);
}

.bookmark-list .list-title {
  background-color: var(--bookmark-color);
}

.recent-list .list-title {
  background-color: crimson;
}

.view-all {
  font-size: small;
  text-decoration: none;
  color: white;
}
