@import "theme.css";

#right-pane {
  float: right;
  width: var(--right-width);
}

.bookmark-list .list-title {
  background-color: var(--bookmark-color);
}

.recent-list .list-title {
  background-color: crimson;
}

.view-all {
  font-size: small;
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 850px) {
  #home-container {
    margin-right: var(--right-width);
  }
}

@media screen and (max-width: 850px) {
  #right-pane {
    float: none;
    width: 100%;
    margin-top: 1em;
  }
}
